<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
      <title>WTab 2</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <script src="{% static 'script/jquery-1.11.2.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <style>
      body {
        min-height: 900px;
        padding-top: 70px;
      }
      </style>
    </head>
    <body>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/tournament/">{{tournament_name}}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/registration/">Registration</a>
              </li>
              <li>
                <a href="/tournament/">Tournament</a>
              </li>
              <li>
                <a href="/feedback/">Feedback</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      {% block body_block %}{% endblock %}
      <hr>
      <div class="container">
        WTab, published under GNU General Public License v2 by Houze Wang
        <br>
        <a href="https://github.com/kerbinagent/tabpy2">Find it on GitHub</a>
      </div>
    </body>
</html>
