{% extends 'base.html' %}

{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to {{tournament_name}}</h1>
    <p>A WSDC tournament with WTab 2</p>
  </div>
</div>

<div class="container">
  <div class="col-md-4">
    <h3>For Judges</h3>
    <br>
    {% for field in form.visible_fields %}
      {% if field.errors %}
        {% for err in field.errors %}
          <div class="alert alert-danger" role="alert">
            <strong>{{err}}</strong>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    <p>
      We have brilliant online ballots so you don't have to figure out the total speaker scores. Click the button below to fill in ballot
    </p>
    <br>
    <a href="/tournament/judge" class="btn btn-primary">Go to Ballot</a>
  </div>
  <div class="col-md-4">
    <h3>For Debaters</h3>
    <br>
    <p>
      You can view matchup and view full tab (when tournament finishes) here. Click Button(s) below to get started.
    </p>
    <br>
    <a href="/tournament/matchup/{{n}}" class="btn btn-primary">View Current Matchups</a>
    {% if tab_released %}
    <a class="btn btn-primary" href="/tournament/show-tab">View Tab</a>
    {% endif %}
  </div>
  <div class="col-md-4">
    <h3>For Admin</h3>
    <br>
    {% if break_status %}
    <div class="alert alert-success">
      <strong>Breaking list created! Check Judge Status to view the list</strong>
    </div>
    {% endif %}
    <p>
      We offer unparalled speed for tabbing. Tabbing shouldn't consume possible time for quality debates. Manage your tournament here:
    </p>
    <br>
    <a href="/admpanel" class="btn btn-primary">Go to Admin Site</a>
  </div>
</div>
{% endblock %}
