{% extends 'base.html' %}

{% block body_block %}

      <div class="container">
        <h1>Round {{round_number}} Ballot</h1>
        {% if judge_name %}
          <h2>Welcome {{judge_name}}</h2>
          <hr>
          {% if round_check %}
          {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                <strong>{{err}}</strong>
              </div>
            {% endfor %}
          {% endif %}
          {% for field in form.visible_fields %}
            {% if field.errors %}
              {% for err in field.errors %}
                <div class="alert alert-danger" role="alert">
                  <strong>{{err}}</strong>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <div class="alert alert-warning">
            <strong>Warning!</strong> The sequence of the speaker shown in the ballot is not in the order of speech. Make sure you give the right score to the right speaker!
          </div>
          <form id="ballot" method="post" action="">
            {% csrf_token %}
            <table class="table table-striped">
              <tr>
                <th colspan="2">
                  {{prop_team}}
                </th>
                <th colspan="2">
                  {{oppo_team}}
                </th>
              </tr>
              <tr>
                <td>{{p1.name}}</td>
                <td>{{form.prop_1}}</td>
                <td>{{o1.name}}</td>
                <td>{{form.oppo_1}}</td>
              </tr>
              <tr>
                <td>{{p2.name}}</td>
                <td>{{form.prop_2}}</td>
                <td>{{o2.name}}</td>
                <td>{{form.oppo_2}}</td>
              </tr>
              <tr>
                <td>{{p3.name}}</td>
                <td>{{form.prop_3}}</td>
                <td>{{o3.name}}</td>
                <td>{{form.oppo_3}}</td>
              </tr>
              <tr>
                <td>Prop Reply</td>
                <td>{{form.prop_reply}}</td>
                <td>Oppo Reply</td>
                <td>{{form.oppo_reply}}</td>
              </tr>
            </table>
            <br>
            <div class="well well-sm">
              <p>
                Please Confirm Winner: {{form.winner}}
              </p>
              <br>
              <p>
                Check here if it's split {{form.split}}
              </p>
            </div>
            <br>
            <input type="submit" name="submit" class="btn btn-primary" value="Submit Ballot">
          </form>
          {% else %}
            <div class="alert alert-info">
              You can rest this round :-)
            </div>
          {% endif %}
        {% endif %}
      </div>

{% endblock %}
