<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
      <title>WTab 2</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <script src="{% static "script/jquery-1.11.2.js" %}"></script>
      <script src="{% static "bootstrap/script/bootstrap.min.js" %}"></script>
    </head>
    <body>
      <div class="container">
        <h1>Round {{round_number}} Ballot</h1>
        {% if judge_name %}
          <h2>Welcome {{judge_name}}</h2>
          <hr>
          {% if round_check %}
          {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                <strong>{{err}}</strong>
              </div>
            {% endfor %}
          {% endif %}
          {% for field in form.visible_fields %}
            {% if field.errors %}
              {% for err in field.errors %}
                <div class="alert alert-danger" role="alert">
                  <strong>{{err}}</strong>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <form id="ballot" method="post" action="">
            {% csrf_token %}
            <table class="table table-striped">
              <tr>
                <th colspan="2">
                  {{prop_team}}
                </th>
                <th colspan="2">
                  {{oppo_team}}
                </th>
              </tr>
              <tr>
                <td>{{p1.name}}</td>
                <td>{{form.prop_1}}</td>
                <td>{{o1.name}}</td>
                <td>{{form.oppo_1}}</td>
              </tr>
              <tr>
                <td>{{p2.name}}</td>
                <td>{{form.prop_2}}</td>
                <td>{{o2.name}}</td>
                <td>{{form.oppo_2}}</td>
              </tr>
              <tr>
                <td>{{p3.name}}</td>
                <td>{{form.prop_3}}</td>
                <td>{{o3.name}}</td>
                <td>{{form.oppo_3}}</td>
              </tr>
              <tr>
                <td>Prop Reply</td>
                <td>{{form.prop_reply}}</td>
                <td>Oppo Reply</td>
                <td>{{form.oppo_reply}}</td>
              </tr>
            </table>
            <br>
            <input type="submit" name="submit" class="btn btn-primary" value="Submit Ballot">
          </form>
          {% else %}
            <strong>You can rest this round :-)</strong>
          {% endif %}
        {% endif %}
      </div>
    </body>
</html>
